body{
    margin: 0;
}
.r{
    display: flex;
    flex-direction: row;
    height: 969px;
}
#r1:first-child{
    height: 100%;
    width: 250px;
    background-color: red;
    display: fixed;
}
#r2{
    float: left;
    height: 100%;
    width: 250px;
    background-color: orange;
}
#r3{
    float: left;
    height: 100%;
    width: 250px;
    background-color: yellow;
   
}
#r4:nth-child(4){
    float: left;
    height: 100%;
    width: 250px;
    background-color: yellow;
   
}
#r5{
    float: left;
    height: 100%;
    width: 250px;
    background-color: yellow;
   
}
#r6{
    float: left;
    height: 100%;
    width: 250px;
    background-color: yellow;
   
}
#r7:last-child{
    height: 100%;
    width: 250px;
    background-color: yellow;
    display: fixed;
}