body{
    margin: 0;
}
a{
    text-decoration:none;
    color:#f2f2f2;
}
.headbar{
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #0d0d0d;
}
#headfont{
    background-color: #0d0d0d;
    border: none;
    color: #f2f2f2;
    font-size: 75px;
    font-family:"나눔스퀘어_ac ExtraBold";
    position: absolute;
    left: 50%;
    margin-top: auto 0;
    margin-left: -98.665px;
}
#login{
    background-color: #0d0d0d;
    border: none;
    color: #f2f2f2;
    font-size: 25px;
    font-family:"나눔스퀘어_ac ExtraBold";
    margin-top: 68px;
}
.navibar{
    float: left;
    width: 20%;
    height: 100%;
    background-color: lightslategrey;
}
