#input_bar{
    width: 1000px;
    height: 100px;
    position: absolute;
    left: 50%;
    margin-left: -500px;
    font-size: 100px;
    display: block;
    border: #212121 solid 6px;
}
.put_table{
    width: 1000px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -250px;
    margin-left: -500px;
    border: solid 1px #212121;
    font-size: 100px;
}
.input_t{
    width: 200px;
    height: 60px;
    font-size: 50px;
    border: solid #212121 6px;
}